:root {
  --navy: #001e62;
  --red: #f70035;
  --blue: #2426cc;
  --light-gray: #efefef;
  --mid-gray: #777777;
  --dark-gray: #2d2d2d;
  --white: #ffffff;
  --black: #000000;
  --off-white: #f7f7f7;
  font-size: 14px;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "site-header"
    "main-content"
    "site-footer";

  @media (min-width: 800px) {
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "site-header site-header"
      "sidebar main-content"
      "site-footer site-footer";
  }
}

h1 {
  color: navy;
  font-style: italic;
  font-weight: 900;
  margin-left: 4rem;
}
/* Header */
.site-header {
  grid-area: site-header;
  top: 0;
  position: sticky;
  background: white;
  height: 6rem;
  z-index: 10;
  max-width: 100%;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.site-header nav .logo img {
  max-width: 320px;
}

.nav-links {
  gap: 1rem;
  list-style: none;
  padding: 0;
  color: navy;
  font-weight: 640;
  font-size: 1rem;

  .nav-li-cart {
    display: none;
  }

  .nav-li-login {
    margin-right: 1rem;
    font-weight: 640;
  }
}

.nav-links a {
  text-decoration: none;
}

/* Sidebar */
aside {
  grid-area: sidebar;
  position: fixed;
  align-self: start;
  display: none;
  width: 300px;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: #f7f7f7;
  opacity: 0.99;
  color: navy;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 15%;
  overflow: scroll; /* Enable scroll if needed */

  .sidebar-items {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    align-self: start;
    margin-bottom: 200px;

    button {
      padding: 1rem;
      text-decoration: none;
      border: none;
      background-color: #f7f7f7;
      color: navy;
      font-size: 1rem;
      font-family: inherit;
    }
    button:active {
      transform: translateY(4px);
      cursor: pointer;
      color: #1a0062;
      text-decoration: underline;
    }
    button:hover {
      cursor: pointer;
      color: #1a0062;
      text-decoration: underline;
      transform: scale(1.02);
    }
    button:focus {
      cursor: pointer;
      color: #1a0062;
      text-decoration: underline;
      transform: scale(1.02);
    }

    @media (min-width: 800px) {
      button {
        background-color: #f7f7f7;
        color: black;
      }
    }
  }

  @media (min-width: 800px) {
    display: grid;
    justify-items: center;
    position: sticky;
    align-self: start;
    top: 1.3rem;
    height: 100vh;
    z-index: 2;
    background-color: #f7f7f7;
    color: black;
    overflow: scroll; /* Enable scroll if needed */
  }
}

.show {
  display: grid;
  justify-items: center;
}

/* Main Content */
.main-content {
  grid-area: main-content;
  align-self: start;
  align-items: center;
  display: grid;
  justify-content: center;
}

.main-product-card-content {
  display: none;

  .product-card-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 0.98;
    z-index: 10;
    display: grid;
    justify-items: center;

    .main-product-card-item {
      display: grid;
      justify-items: center;
      align-items: center;
      max-width: 600px;
      width: 80%;
      max-height: 500px;
      padding: 1rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
      margin-left: 4rem;
      margin-right: 4rem;
      margin-top: 6rem;
      margin-bottom: 6rem;
      border-radius: 1rem;
      background-color: #333;
      z-index: 20;
      color: black;
      background-color: white;
      overflow: auto; /* Enable scroll if needed */

      .product-card-info {
        display: grid;
        justify-items: center;
        img {
          display: grid;
          justify-self: center;
          max-width: 200px;
          max-width: 200px;
          width: 100%;
          object-fit: cover;
          border-radius: 4px;
          margin-bottom: 0.5rem;
        }

        h3 {
          justify-self: center;
          max-width: 400px;
        }

        .product-card-extra-info-view {
          p {
            max-width: 400px;
          }
        }

        .product-card-extra-info-price {
          max-width: 400px;
          font-size: 2rem;
          color: red;
          font-weight: 900;
          font-style: italic;
          margin: 1rem 1rem;
        }
      }
    }
  }
}

.cart-content {
  display: none;

  .cart-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 0.98;
    z-index: 5;

    .cart-list {
      display: grid;
      justify-self: center;
      align-items: center;
      width: 80vw;
      max-width: 80%;
      padding: 3rem;
      max-height: 60vh;
      border-radius: 1rem;
      margin-top: 10rem;
      z-index: 6;
      color: black;
      background-color: white;
      overflow-y: scroll;
      div {
        width: 100vw;
      }
    }

    h1 {
      display: grid;
      justify-content: left;
      margin: 0;
      margin-bottom: 2rem;
    }

    a:link,
    a:visited {
      background-color: blue;
      color: white;
      align-content: center;
      margin-top: 2.5rem;
      padding: 14px 25px;
      text-decoration: none;
      display: grid;
      justify-self: center;
      border-radius: 1rem;
      font-weight: 500;
    }

    a:hover,
    a:active {
      background-color: navy;
    }
  }
}

/* Mobile menu */
#mobilemenu {
  display: flex;
  justify-self: center;
  background-color: #001e62;
  border-style: solid;
  border-width: 2px;
  border-color: #eaeaea54;
  opacity: 0.9;
  border-radius: 1rem;
  width: 90%;
  height: 4rem;
  display: block;
  position: fixed;
  bottom: 2rem;
  left: 5%;
  right: 5%;
  z-index: 50;
  align-content: center;

  .mobile-menu-list {
    display: flex;
    justify-content: center;

    div {
      margin-left: 1rem;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
    div:active {
      transform: translateY(4px);
    }

    a {
      margin-left: 1rem;
      color: white;
      text-decoration: none;
    }
  }

  @media (min-width: 800px) {
    display: none;
    z-index: 1;
  }
}

/* Products */
#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 80%; /* Jesper set this to get the left corner to align with the h2 above*/
  justify-self: center;
  margin-bottom: 1rem;
}

.product-card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-card:hover img {
  transform: scale(1.2);
}

.product-card p {
  font-size: 2rem;
  color: red;
  font-weight: 900;
  font-style: italic;
  margin: 1rem 1rem;
}

/* Jesper */
.product-card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  height: 100%;
}
.product-card img {
  transition: transform 0.3s ease;
  width: 80%;
  height: 80%;
  object-fit: scale-down;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.product-card h3 {
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.product-card-info,
.product-card-info * {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

/* Jesper */
.product-card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.product-card button {
  height: 3rem; /* Jesper's workaround to make the button the same height as the + - signs*/
  padding: 1rem 2rem; /* changed padding to rem from px */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
  transition: background-color 0.3s ease;
  background-color: #2426cc;
  color: #ffffff;
}

/* Jesper's workaround to get the text inside the button to align perfectly in the center */
.product-card button span {
  transform: translateY(-5px); /* Adjust value until it looks perfect */
  display: inline-block;
}

.product-card button:hover {
  background-color: #001e62;
}

.product-card .cart-button-array {
  display: none;
  justify-content: space-between;
  margin-top: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-card .cart-button-array .cart-button-count {
  font-size: medium;
  align-self: center;
}

.product-card .cart-button-array .cart-button-plus,
.product-card .cart-button-array .cart-button-minus {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  display: grid;
  align-content: center;
  border-radius: 500px;
  color: white;
  background-color: #2426cc;
  cursor: pointer;
}

.product-card .cart-button-array .cart-button-plus:hover,
.product-card .cart-button-array .cart-button-minus:hover {
  transform: scale(1.1); /*translateY(4px)*/
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #001e62;
}
.product-card .cart-button-array .cart-button-plus:active,
.product-card .cart-button-array .cart-button-minus:active {
  /* transform: translateY(4px); */
  transform: scale(0.8);
  background-color: #001e62;
}

/* Login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

/* Footer */
.site-footer {
  grid-area: site-footer;
  background: #001e62;
  text-align: center;
  height: 5rem;
  color: white;
  position: static;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.footer-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.site-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  .search-container {
    display: none;
  }
}

.logo {
  flex-shrink: 0;
}

/* search */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 300px;
}

#site-header-search {
  width: 100%;
  padding: 0.7rem 2.5rem 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: text;
  transition: box-shadow 0.3s ease;
}

#site-header-search:focus {
  box-shadow: 0 0 8px rgba(0, 30, 98, 0.5);
}

.search-icon {
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
  color: #888;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.search-icon:hover {
  transform: scale(1.2);
  color: #001e62;
}

@media (min-width: 800px) {
  /* Jespers placering av ikon */
  #cart-header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  #cart-header span {
    font-size: 3rem;
  }

  #cart-header div {
    height: 100%;
  }

  h1 {
    margin-left: 9rem;
  }
  .site-header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      gap: 1rem;
      margin-left: 4rem;
      margin-right: 4rem;
      font-size: medium; /* Jesper */
    }
    .nav-links {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;
      color: navy;
      font-weight: 640;
      align-items: center;
    }

    .nav-li-cart {
      display: block;
    }

    .nav-links a {
      text-decoration: none;
    }
    nav .search-container {
      display: flex;

      .search-icon {
        right: 1rem;
        font-size: 1.2rem;
        color: #888;
        cursor: pointer;
        transition: transform 0.2s ease;
      }

      .search-icon:hover {
        transform: scale(1.2);
        color: #001e62;
      }
    }
  }

  .nav-li-products {
    display: block;
  }
  .nav-li-cart {
    display: block;
    cursor: pointer;
  }
  .main-product-card-item {
    margin-right: 300px;
  }

  .cart-content {
    .cart-background {
      width: 100%;
      .cart-list {
        margin-left: 0;
        transform: translateX(-15%);
        width: 50%;
        height: 60%;
        overflow-y: scroll;
        overflow-x: hidden;
        div {
          width: auto;
        }
      }
    }

    h1 {
      display: grid;
      justify-content: left;
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}
